@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable browser password reveal icon (Chrome / Edge / Safari) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
}